<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		<style>
			.sidenav {
				  height: 100%;
				  width: 200px;
				  position: fixed;
				  z-index: 1;
				  top: 0;
				  left: 0;
				  background-color: #21262c;
				  overflow-x: hidden;
				  padding-top: 20px;
				}
			.topnav {
				  height: 40px;
				  width: 100%;
				  position: fixed;
				  z-index: 1;
				  top: 0;
				  left: 200px;
				  background-color: #21262c;
				  overflow-y: hidden;
				  font-color: #fff;
				}
			      
		</style>
		</head>
		<body>
			<div class="sidenav">
			</div>
			<nav class="topnav">
	    		<ul>
	        		<li><a href="/" style="color: #fff;">Home</a></li>
				<li><a href="/documentation/" style="color: #fff;">Documentation</a></li>
		        	<li><a href="/about" style="color: #fff;">About</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul style="padding-left: 20px;">
	        		<li><a href="mailto:joemailbox77@gmail.com">email</a></li>
	        		<li><a href="https://github.com/smcpk8s">github.com/smcpk8s</a></li>
				</ul>
			</footer>
		</body>
	</html>
